@import url(https://rsms.me/inter/inter.css);

html,
body {
  font-family: 'Inter', Arial, sans-serif;
}

em {
  font-family: Georgia, serif;
  font-style: italic;
}

ul:not(.tn-settings-list) li + li {
  margin-top: 10px;
}
