.rc-header {
  margin-top: 50px;
  text-align: center;
}

.rc-header h1 {
  font-weight: normal;
  line-height: 1;
}

.rc-header h1 span {
  display: block;
  text-indent: -9999px;
}

@media screen and (min-width: 768px) {
  .rc-header {
    margin-top: 100px;
  }
}
