@require '_variables'

$size = 80px

.r-avatar
  width $size
  height $size
  background-color $color-grey
  background-size 100%
  background-position center center
  background-repeat no-repeat
  border-radius 50%
  overflow hidden
