@require '_variables'
@require '_mixins'

$avatar-size = 60px

.r-avatron
  display flex
  align-items center
  .r-avatar
    width $avatar-size
    height $avatar-size
    & + .r-avatron-titles
      margin-left 10px
  .r-badge
    position relative
    top -2px
    left 8px
  h2
    font-size $font-size-xl
  h3, h4
    margin-top 2px
    font-weight 300
  h3
    font-size $font-size-xs
  h4
    font-size $font-size-xxs
