@require '_variables'
@require '_mixins'

.r-badge
  padding 1px 6px
  color $color-grey-dark
  font-size $font-size-xxxxs
  line-height 14px
  text-transform uppercase
  border 1px solid $color-grey
  border-radius(3px)
