@require '_variables'
@require '_mixins'

.r-code
  padding 20px
  background-color $color-grey-lighter
  font-size $font-size-xs
  box-sizing border-box
  white-space nowrap
  overflow-x scroll
  border-radius(0 0 12px 0)
  .hljs
    background-color transparent
  pre, code
    margin 0
    padding 0
