.r-col
  float left
  padding 0 10px
  box-sizing border-box

for $size in (1..12)
  .r-col-{$size}
    width ($size/12) * 100%

for $size in (1..11)
  .r-col-offset-{$size}
    margin-left ($size/12) * 100%
