@require '_variables'
@require '_mixins'

.r-contact-form
  margin 0 auto
  max-width 400px
  textarea
    min-height 130px

.r-contact-form-credits
  margin-top 30px
  font-size $font-size-xxs
  text-align center
