@require '_variables'
@require '_mixins'

$text-color = $color-purple

.r-cta-link
  position relative
  .r-icon-arrow
    position absolute
    top 0
    right 0
    background-color $text-color
  a
    padding-right 30px
    color $text-color
    font-family $font-family-secondary
    font-style italic
