@require '_variables'
@require '_mixins'

.r-footer
  position relative
  padding 60px 0
  background-color $color-grey-lighter
  text-align center
  .r-icon-circles
    position absolute
    top 0
    left 50%
    width 130px
    height 3px
    background-color $color-grey
    transform('translateX(-50%)')
  h3
    font-size $font-size-xxs
    font-weight bold
    text-transform uppercase
  p
    margin-top 50px
    font-size $font-size-xxxs

.r-footer-links
  display flex
  justify-content center
  li + li
    margin-left 25px

.r-footer-content
  margin 0 auto
  max-width 800px
