@require '_variables'
@require '_mixins'

.r-footer
  position relative
  color $color-grey-dark
  overflow hidden
  p
    margin-top 20px
    font-size $font-size-xxxs
  a
    color $color-grey-dark

.r-footer-links
  display flex
  li + li
    margin-left 25px
  h3
    font-size $font-size-xxs
    font-weight bold
    text-transform uppercase

.r-footer-content
  position relative
  margin 0 auto
  padding 60px 0
  width 90%
  max-width 600px
  &:before
    position absolute
    content ' '
    top 0
    left 0
    width 100vw
    height 1px
    border-top 1px solid $color-grey
