@require '_variables'
@require '_mixins'

.r-home-hero
  h1
    margin 60px 0
    font-size $font-size-xxl
    font-weight bold
    letter-spacing -1px

+breakpoint('xs')
  .r-home-hero
    h1
      font-size $font-size-xl
