@require '_variables'
@require '_mixins'

.r-home-hero
  p
    font-weight 400
    font-size $font-size-xxl
    line-height 1
    letter-spacing -1px

+breakpoint('xs-sm')
  .r-home-hero
    p
      line-height 1.2
