@require '_variables'

.r-influences-list
  ul
    margin 0
  li + li
    margin-top 20px

.r-influences-list-item-title
  font-weight bold

.r-influences-list-item-author
  margin-top 0
  font-family $font-family-secondary
  font-size $font-size-xs
  font-style italic
