@require '_mixins'

$loader-size = 50px

.r-loader
  margin 0 auto
  height $loader-size
  width $loader-size
  background-size contain
  background-position center
  background-repeat no-repeat
  background-image('loader.svg')
