@require '_variables'

.r-newsletter-bar
  padding 120px 0
  background-color $color-grey-darker
  font-size $font-size-xl
  font-weight bold
  text-align center
  p
    margin 0 auto
    max-width 800px
    color $color-lightest
