@require '_variables'
@require '_mixins'

.r-pitsby-promo
  position relative
  margin 0 auto
  width 90%
  max-width 640px
  background rgb(57,2,152)
  background linear-gradient(130deg, rgba(57,2,152,1) 0%, rgba(3,42,130,1) 70%)
  overflow hidden
  border-radius(10px)
  box-sizing(border-box)
  .r-image
    position absolute
    top 75%
    right -140px
    width 400px
    transform('translateY(-50%)')
  h3
    font-size $font-size-xxl
    font-weight bold
    line-height 1
    letter-spacing -1px
  a
    color $color-lightest

.r-pitsby-promo-content
  padding 40px 250px 40px 40px

+breakpoint('xs')
  .r-pitsby-promo
    .r-image
      top auto
      bottom -60px
      left 50%
      right auto
      width 300px
      transform('translateX(-50%)')
    h3
      font-size $font-size-xxl
  .r-pitsby-promo-content
    padding 30px 30px 200px 30px
