.r-project
  .r-badge
    position relative
    top -2px
    left 8px
  .r-cta-link
    display inline-block
    & + .r-cta-link
      margin-left 40px
  p
    margin-top 20px

.r-project-cta-links-container
  margin-top 40px
