@require '_mixins'

.r-project
  .r-cta-link
    display inline-block
  p
    margin-top 20px

.r-project-cta-links-container
  display grid
  grid-template-columns 1fr 1fr
  grid-gap 30px 30px
  margin-top 40px

+breakpoint('xs')
  .r-project-cta-links-container
    grid-template-columns 1fr
