@require '_variables'
@require '_mixins'

.r-project-featured-list-container
  overflow-x scroll
  no-scrollbar()

.r-project-featured-list
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-gap 80px
  margin 0
  padding 0
  list-style-type none
  .t-tag
    padding 5px 10px
    background-color transparent
    color $color-purple
    border-color $color-purple
  h2
    font-size $font-size-xxs
    font-weight bold
    text-transform uppercase
  p
    margin-top 10px
    font-size $font-size-xs

+breakpoint('xs')
  .r-project-featured-list
    padding-right 100px
    width 650px
    grid-gap 25px
    li
      width 200px
  .r-project-featured-list-container
    padding 0 0 0 5%
  .r-project-featured-list-wrapper
    position relative
    &:after
      position absolute
      content ''
      top 0
      right 0
      bottom 0
      width 25%
      background linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.9) 25%, rgba(255,255,255,0) 100%)

+breakpoint('sm')
  .r-project-featured-list
    grid-gap 50px
