@require '_variables'
@require '_mixins'

.r-quote
  padding-left 40px
  font-family $font-family-secondary
  font-size $font-size-md
  font-style italic
  border-left 1px solid $color-grey
  box-sizing(border-box)
  cite
    display block
    margin-top 10px
    font-size $font-size-xs
