@require '_variables'

.r-read-list
  position relative
  margin 0
  padding-bottom 100px
  &:after
    position absolute
    content ''
    bottom 0
    width 1px
    height 100px
    background linear-gradient(180deg, $color-grey-light 0%, rgba(255,255,255,0) 100%)

.r-read-list-group
  position relative
  padding-left 10px
  &:before
    position absolute
    content ''
    bottom -8px
    left -2px
    width 5px
    height 5px
    background-color $color-grey
    border-radius 50%
    z-index $layer-base
  &:after
    position absolute
    content ''
    top 8px
    left 0
    bottom -3px
    border-left 1px solid $color-grey-light
  ul
    padding 50px 0 30px 40px
  li + li
    margin-top 10px
  h2
    position relative
    bottom -12px
    color alpha($color-grey-dark, .6)
    font-size $font-size-xs
    font-weight bold
  h3
    font-weight bold
  p
    margin 0
    font-family $font-family-secondary
    font-size $font-size-xs
    font-style italic

.r-read-list-group:first-child
  &:after
    border-left 1px dashed $color-grey-light
