@require '_variables'
@require '_mixins'

.r-recommendation
  .r-recommendation-subtitle
    font-size $font-size-xxs

.r-recommendation
  .r-avatar
    float left
    &:last-child
      position relative
      left -15px

.r-recommendation-header
  display flex
  align-items center

.r-recommendation-avatar
  clearfix()

.r-recommendation-titles
  margin-left 10px
  h4
    margin-top 5px

.r-recommendation-body
  margin-top 40px

+breakpoint('xs')
  .r-recommendation-header
    display block
  .r-recommendation-avatars
    width 100%
    clearfix()
  .r-recommendation-titles
    margin 20px 0 0
