@require '_mixins'

.r-recommendation-list
  margin 0 -10px
  clearfix()

.r-recommendation-list-item
  float left
  padding 0 10px
  width 50%
  box-sizing border-box

+breakpoint('xs')
  .r-recommendation-list-item
    width 100%
    & + .r-recommendation-list-item
      margin-top 75px
