@require '_mixins'

.r-row
  margin 0 10px * -1
  clearfix()
  &.r-row-center
    text-align center
  &.r-row-right
    text-align right
  & + .r-row
    margin-top 20px
  for $size in (1..10)
    &.r-row-offset-{$size}
      margin-top $size * 10px
