@require '_variables'
@require '_mixins'

.r-section
  padding 128px 0
  &.r-section-size-small
    padding 64px 0
  &.r-section-size-large
    padding 192px 0
  &.r-section-theme-primary
    background-color $color-grey-lighter

+breakpoint('xs')
  .r-section
    padding 64px 0
    &.r-section-size-small
      padding 64px 0
    &.r-section-size-large
      padding 128px 0

+breakpoint('sm')
  .r-section
    padding 64px 0
    &.r-section-size-small
      padding 64px 0
    &.r-section-size-large
      padding 128px 0
