@require '_variables'
@require '_mixins'

$line-height = 20px;

.r-share
  padding 5px 15px 3px
  background-color $color-grey-lighter
  line-height $line-height
  border-radius(19px)
  box-sizing(border-box)
  clearfix()
  .r-button
    line-height $line-height
    .r-icon
      position relative
      top 2px
      width 25px
      height 25px
    +highlight()
      .r-icon
        background-color $color-purple
  .r-share-item
    line-height $line-height
  .r-share-items
    float right
    list-style-type none
    margin 0
    padding 0

.r-share-label
  display inline-block
  margin-top 3px
  font-size $font-size-xxxs
  font-weight bold
  text-transform uppercase
