@require '_variables'
@require '_mixins'

.r-sidebar
  width 90%
  max-width 300px
  height 100vh
  background alpha($color-grey-light, .975)
  .r-menu
    .r-menu-item
      float none
      margin 0
      width 100%
    .r-menu-item-link
      display block
      padding-top 10px
      padding-bottom 10px
      padding-left 30px
      box-sizing border-box
      &.r-menu-item-link-active
        padding-left 26px
        background-color $color-lightest
        font-weight 600
        border-left 4px solid $color-purple

.r-sidebar-header
  padding 18px 30px

.r-sidebar-body
  margin-top 30px
