@require '_variables'
@require '_mixins'

.r-sidebar
  width 90%
  max-width 300px
  height 100vh
  background alpha($color-grey-light, .975)
  .r-menu
    .r-menu-item
      float none
      margin 0
      width 100%
    .r-menu-item-link
      display block
      padding 10px 0 10px 30px
      box-sizing border-box

.r-sidebar-header
  padding 18px 30px

.r-sidebar-body
  margin-top 30px
