@require '_variables'

.r-story-summary
  h2,
  p
    margin-top 20px
  .r-image
    width 100%
  footer
    margin 30px 0 10px

.r-story-summary-header
  background-color $color-grey-lighter
  border-radius 12px
  overflow hidden
