@require '_variables'
@require '_mixins'

$image-container-bg-color = #F9EFD2;

.r-story-viewport-content
  position relative
  margin 0 auto
  max-width 640px
  .r-code
    margin-top 20px
    & + p
      margin-top 20px
  .r-quote
    margin 40px 0
  .r-story-footer
    position absolute
    top 0
    left -280px
    max-width 225px
    .r-divider
      display none
  .r-related-stories
    margin-top 100px
  .r-story-list
    grid-template-columns 1fr
    margin 0
    list-style-type none
    h2
      margin 30px 0 0
      font-weight normal
  h2
    margin 100px 0 50px
    font-size $font-size-lg
    font-weight bold
  h4, h5
    margin-top 40px
    text-transform uppercase
  h2, h3, h4, h5
    font-weight bold
  ul
    margin 20px 0 0 20px
    list-style-type disc
  li
    line-height 1.5
    + li
      margin-top 10px

.r-story-viewport-image-container
  position relative
  left -100px
  margin -148px auto 60px
  width 1000px
  height 270px
  background-color $image-container-bg-color
  border-radius(0 0 25px 0)
  .r-image
    position absolute
    right 0
    top 50%
    max-width 800px
    transform('translateY(-50%)')

+breakpoint('xs-sm')
  .r-story-viewport-image-container
    left -10%
    margin -84px 0 30px
    width 120%
    .r-image
      transform('scale(1.5) translateY(-35%)')
  .r-story-viewport-content
    .r-story-footer
      position relative
      top 0
      left 0
      margin-top 60px
      max-width none
      .r-divider
        display block
    .r-story-footer-newsletter
      text-align center
    .r-story-footer-share
      margin-left auto
      margin-right auto
      max-width 200px

+breakpoint('sm')
  .r-story-viewport-image-container
    left -220px
    margin -140px 0 30px
    width 120%
    .r-image
      transform('scale(1.25) translateY(-40%)')
