@require '_variables'
@require '_mixins'

.r-story-group
  & + .r-story-group
    margin-top 150px
  .r-story-group-title
    margin-bottom 75px
    color $color-grey
    font-size $font-size-xs
    text-transform uppercase
    text-align center
    font-weight bold
  h2
    font-size $font-size-xl

+breakpoint('xs')
  .r-story-group
    .r-story-group-title
      text-align left
