@require '_variables'

.r-story-summary
  .r-image
    width 100%
  h2,
  p
    margin-top 20px
  h3
    font-size $font-size-xxxs
    font-weight bold
    text-transform uppercase
  footer
    margin 30px 0 10px
    a
      margin-top 10px

.r-story-summary-header
  background-color $color-grey-lighter
  border-radius 12px
  overflow hidden
