@require '_variables'
@require '_mixins'

$image-container-bg-color = #F9EFD2;

.r-story-viewport-content
  position relative
  margin 0 auto
  max-width 640px
  .r-share
    position absolute
    top 0
    left -280px
  .r-code
    margin-top 20px
    & + p
      margin-top 20px
  h2
    margin-top 50px
  h4, h5
    margin-top 40px
  ul
    margin 20px 0 0 20px
    list-style-type disc
  li
    line-height 1.5
    + li
      margin-top 10px

.r-story-viewport-image-container
  position relative
  margin -148px auto 60px
  max-width 800px
  max-height 270px
  background-color $image-container-bg-color
  border-radius(0 0 25px 0)
  &:before
    position absolute
    content ' '
    top 0
    left -200px
    width 200px
    height 270px
    background-color $image-container-bg-color

+breakpoint('xs')
  .r-story-viewport-image-container
    margin -84px -10% 30px
    .r-image
      position relative
      width 120%
      left 50%
      border-radius(0)
      transform('translateX(-50%)')
