@require '_variables'
@require '_mixins'

.r-topbar
  padding 36px 0
  background-color alpha($color-grey-light, .975)
  z-index $layer-low
  .r-container
    display flex
    align-items center
    clearfix()
  .r-logo,
  .r-menu
    float left
  .r-menu
    margin-left 30px
