@require '_variables'
@require '_mixins'

.r-topbar
  padding 36px 0
  background-color alpha($color-grey-light, .975)
  z-index $layer-low
  .r-container
    position relative
    display flex
    align-items center
    clearfix()
  .r-logo,
  .r-menu
    float left
  .r-menu
    margin-left 30px
  .r-button
    display none
    position absolute
    top 50%
    left 0
    transform('translateY(-50%)')

+breakpoint('xs')
  .r-topbar
    padding 16px 0
    .r-menu
      display none
    .r-button
      display block
  .r-logo
    position relative
    left 50%
    transform('translateX(-50%)')
