<!DOCTYPE html>
<html>
  <head>
    {{ metaTags }}
    <meta property="og:title" content="Rafael Camargo" />
    <meta property="og:description" content="My name is Rafael. A coder who designs. A designer who codes." />
    <link rel="stylesheet" href="../styles/homepage.css">
  </head>
  <body>
    <header class="rc-header">
      <img src="/assets/images/icon-rc.svg" alt="Rafael Camargo's Logotype">
    </header>
    {{ newsletterForm }}
    {{ triven:posts }}
    {{ triven:settings }}
    {{ credits }}
    {{ plausible }}
  </body>
</html>
