<!DOCTYPE html>
<html>
  <head>
    {{ baseMetaTags }}
    {{ descriptionMetaTag }}
    <meta property="og:title" content="Rafael Camargo" />
    <link rel="stylesheet" href="../styles/homepage.css">
  </head>
  <body>
    <header class="rc-header">
      <h1>
        <span>Rafael Camargo</span>
        <img width="30px" height="32px" src="/assets/images/icon-rc.svg" alt="Rafael Camargo's Logotype">
      </h1>
    </header>
    {{ triven:posts }}
    {{ triven:settings }}
    {{ credits }}
    {{ statorama }}
  </body>
</html>
